<!-- Create a home page that explains purpose and drives the user to action. -->
<h1>Welcome to Ginger Ale!</h1>

<p>
  Ginger Ale is a a place to keep track of Active Learning Experience (ALE)
  courses at Berea College. Use this web application if you are teaching, taking
  or partnering with an ALE course.
</p>

<div class="container">
  <!-- Create a button the user can click to sign up. -->
  <%= button_to "Sign Up", new_user_registration_path, :class => "btn btn-primary" %>
  
  <!-- Create a button to use to log in. -->
  <% # Insert code here to let the user log in %>
</div>